- @watched.each do |w|
  .repository
    .row.description
      .span10
        %h3
          %img{src:w.owner.avatar_url}
          %a{href:"https://github.com/#{w.owner.login}"}= w.owner.login
          \/
          %a{href:w.html_url}= w.name
          %span.watcher= "#{w.watchers} watching"
          %span.forks= "#{w.forks} forks"
          &nbsp;&nbsp;-&nbsp;&nbsp;
          %a.get-readme{href:"/readme/#{w.owner.login}/#{w.name}"} README
        %p= w.description
      .span2
        %span.language= w.language

    .readme
      %p.rclose - close -
      .body
- if @watched.links && @watched.links.next
  .more
    %a{href: @watched.links.next.sub('https://api.github.com', '')} More
